.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.heading {
  color: #326a9d;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: bold;
}
.description {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: normal;
}

.list-item {
  border: 1px solid #cbced2;
  list-style: none;
  height: 200px;
  width: 100vh;
  margin-bottom: 12px;
  padding: 10px;
}

.button {
  color: #326a9d;
  border: 2px solid #326a9d;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto';
  height: 24px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 4px;
}
